.Grid {
    width: 1000px;
    max-width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    
    }

    

        
        article img {
            max-width: 100%;
            width: 100%;
            max-height: 73%;
            margin-bottom: 15px;
            object-fit: cover;
        }

h3 {
    font-size: 1rem;
    padding-top: 1rem;
    
}

