.Movie {
    padding: 10px;
    background: #0d2735;
    border-radius: 7px;
    /* box-shadow:  10px 5px 5px rgba(82, 82, 82, 0.25); */
    color: white;
    
}
h3 {
    font-size: 1.4rem;
    height: 60px;
    text-align: center;
}
.Movie div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.favorite {
    
    float: left;
    margin-left: 10px;
}

.view{
    float: right;
    margin-right: 10px;
}

.favorite {
    
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: rgb(134, 134, 134);
    display:inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.favorite.active {
    background-color: rgb(255, 217, 0);
}

.favorite:hover{
    cursor: pointer;
}

.view {
    clip-path: polygon(35% 0%,65% 0%,65% 35%,100% 35%,100% 60%,65% 60%,65% 100%,35% 100%,35% 60%,0% 60%,0% 35%,35% 35%);
    background-color: rgb(143, 143, 143);
    display:inline-block;
    height: 1rem;
    width: 1rem;
}

.view.plus {
    background-color: rgb(248, 248, 248);
}


