.mainNav {
    display: flex;
    padding: 5px 5vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #003463;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px rgba(0,0,0, .1);
    position: sticky;
    top: 0;
    
}
    .mainNav img {
        height: 100%;
    }
    .mainNav a {
        padding: 10px 20px;
        text-decoration:none;
        text-transform: uppercase;
        font-weight: bold;
        color: #f0c644;
        transition: all .5s;
    }
        .mainNav a:hover {
            /* color: var(--blue); */
            text-shadow: 0 0 6px var(--green);
            -webkit-text-stroke: .5px var(--blue-dark);
        }